@import 'tailwindcss';

@theme {
  --color-black: #111;
  --color-beige: #dcc1ab;
  --color-white: #fff;
  --color-gray: #f5f0ec;
  --color-green: #1b5b31;

  --font-main: var(--font-inter, sans-serif);
  --font-heading: var(--font-montserrat, sans-serif);
}

body {
  background: var(--color-white);
  color: var(--color-black);
  font-family: var(--font-main);
  line-height: 150%;
  letter-spacing: -0.01em;
}

@utility container {
  max-width: 1324px;
  margin-inline: auto;
  padding-inline: 32px;
}

@utility nav-item-padding {
  padding-top: 30px;
  padding-bottom: 30px;
}

@utility animation {
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
